body {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.main {
  position: sticky;
  top: 0;
  z-index: 10;

  background-image: linear-gradient(to bottom, #585858 0, #222 100%);
  background-repeat: repeat-x;

  background-color: #222;
  border-color: #080808;

  min-height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-left: -9vw;
  margin-right: -9vw;

  ol {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: inherit;
    text-align: center;
  }
  li {
    margin-left: 2em;
    margin-right: 2em;
    height: 100%;

    a {
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
      color: #bbb;
      text-decoration: none;
      height: 100%;
      display: block;

      &:hover, &:focus {
        color: #fff;
        background-color: transparent;
      }
    }
  }
}

main {
  article {
    margin-left: -9vw;
    margin-right: -9vw;
    padding: 1em 9vw 4em;
    border-bottom: 1px solid #d2d2d2;

    & > h1:first-child {
      font-size: 4em;
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.2em;
    }
  }

  article:nth-child(even) {
    background-color: #f6f6f6;
  }

  nav:not(.main) {
    float: left;
    margin-right: 3ch;
    ul {
      li:before {
        content: "‣";
        padding-right: 1ch;
      }

      ul {
        margin-left: 2ch;
        font-size: 0.9em;
      }
    }
  }
}

header {
  figure.logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      min-height: 6em;
    }

    figcaption {
      font-size: 1.6em;
    }
  }
}

#intro {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "demo demo tryit" "abnf test lang";
  gap: 30px 30px;

  .demo {
    grid-area: demo;

    .result::before {
      content: "Result:";
      top: -1.5em;
      position: absolute;
      font-weight: bold;
    }

    .result {
      margin-top: 2em;
      position: relative;
      background-color: inherit;
    }
  }

  h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

table {
  width: 100%;
  text-align: center;
}

#libraries table {
  border: 1px solid black;
  tr:not(:last-child), thead > tr {
    border-bottom: 1px solid lightgrey;
  }
  td {
    padding-left: 1em;
    padding-right: 1em;
  }
}

pre, textarea.data, .result, code {
  font-size: 0.8em;
}

.highlight > pre {
  padding-left: 0.5ch;
}

#version {
  margin: 5px 1ch;
  float: left;
}

#functions {
  nav {
    float: unset;
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 10em;
    }
  }
  dt {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid black;
    &:before {
      content: ": "
    }
  }
  dd {
    margin-left: 0;
  }

  .fsig {
    .rettype {
      color: lightslategrey;
    }
    .fname {
      margin-right: -0.4ch; // Fix weird gap added between spans
    }
    .fargs{
      &:before {
        content: "("
      }
      &:after {
        content: ")"
      }
      .fargname:not(:last-child):after {
        content: ", "
      }
      .fargtype {
        color: lightslategrey;
      }
    }
  }

  .args, .examples {
    border: 1px black solid;
    table-layout: fixed;
    caption {
      text-align: left;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .args {
    margin: 1em 0;
  }

  .description {
    min-height: 3em;
    margin: 1em 0;
  }

  .examples {
    tbody:not(.showall) .test {
      display: none;
    }
    td[colspan="3"] {
      color: blue;
      background: lightslategrey;
    }
  }
}
