:root {
	--bg: #fff;
	--fg: #111;
	font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
		Arial;
}
body {
	background: var(--bg);
	color: var(--fg);
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2rem;
}
