<meta charset="utf-8">
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

<!-- Stylesheets -->
<link href="https://unpkg.com/sanitize.css" rel="stylesheet" />

{{ $maincss := resources.Get "main.scss" | resources.ToCSS | resources.Minify |  resources.Fingerprint }}
<link rel="stylesheet" href="{{ $maincss.Permalink }}" integrity="{{ $maincss.Data.Integrity }}">
{{ $democss := resources.Get "demo.scss" | resources.ToCSS | resources.Minify |  resources.Fingerprint }}
<link rel="stylesheet" href="{{ $democss.Permalink }}" integrity="{{ $democss.Data.Integrity }}">

<!-- Scripts -->
<script src="https://jmespath9d9a.blob.core.windows.net/public/jmespath.umd.min.js" integrity="sha512-fgC74Wjv+u96WdNqBcSWpiroEZ9DId/ATTXuuT9JJ8dRLQZH/InhppSZUq94sXo93U8vFkhPunod3gqwgyX3pA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ $demojs := resources.Get "demo.js" |  resources.Fingerprint }}
<script src="{{ $demojs.Permalink}}" integrity="{{ $demojs.Data.Integrity }}"></script>
