<meta charset="utf-8">
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

<!-- Stylesheets -->
<link href="https://unpkg.com/sanitize.css" rel="stylesheet" />

{{ $maincss := resources.Get "main.scss" | resources.ToCSS | resources.Minify |  resources.Fingerprint }}
<link rel="stylesheet" href="{{ $maincss.Permalink }}" integrity="{{ $maincss.Data.Integrity }}">
{{ $democss := resources.Get "demo.scss" | resources.ToCSS | resources.Minify |  resources.Fingerprint }}
<link rel="stylesheet" href="{{ $democss.Permalink }}" integrity="{{ $democss.Data.Integrity }}">

<!-- Scripts -->
<script type="text/javascript" src="https://jmespath.blob.core.windows.net/lib/v1.1.1/jmespath.umd.min.js" integrity="sha384-bcLP3bFr3ybbxlIU71k7lUPzxANVY6Z1dq4Ue3AuoNsiyBF00fCWwAHeOGDUloFs" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ $demojs := resources.Get "demo.js" |  resources.Fingerprint }}
<script src="{{ $demojs.Permalink}}" integrity="{{ $demojs.Data.Integrity }}"></script>
